# This file is used by the build system to adjust CSS and JS output to support the specified browsers below.
# For additional information regarding the format of this file, see the documentation at
# https://github.com/browserslist/browserslist#queries

# For the following line, if there is a browser that you do not
# support, remove it from the list
> 1%
last 2 versions
not dead